.showcase {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 30rem);
  grid-gap: 2.5rem;
  width: 75%;

  &__item {
    width: 30rem;
    height: 50rem;
  }

  &__image-container {
	  width: inherit;
	  height: 90%;
  }

  &__image {
	  object-fit: cover;
	  width: 100%;
	  height: 100%;
  }

  &__text {
	  text-align: center;
  }
}

.showcase__item {
}
