.u-center-text {
	text-align: center;
}

.u-margin-bottom {
	&--large {
		margin-bottom: 8rem;
	}

	&--medium {
		margin-bottom: 4rem;
	}

	&--small {
		margin-bottom: 2rem;
	}
}

.u-responsive-image {
	max-width: 100%;
	height: auto;
}
